modelos_nuevos/models/lightgbm_02_2025_11_12/error_log.txt
modelos_nuevos/models/lightgbm_02_2025_11_12/resumen_modelos_lightgbm.csv
modelos_nuevos/models/lightgbm_02_2025_11_13/best_models/SMOTE/rs_MaxAbs_FE_ALL_SMOTE.pkl
modelos_nuevos/models/lightgbm_02_2025_11_13/error_log.txt
modelos_nuevos/models/lightgbm_02_2025_11_13/resumen_modelos_lightgbm.csv
old/
